extends layout
block content
  h1= title
  div.container
        h3
            a(href="/student") 返回
        form(role="form" action="/postdata" method="post")
            div.form-group
                label(for="exanpleInputName") Name
                input.form-control(type="text" value="" name="name")
            div.form-group
                label(for="exanpleInputName") Age
                input.form-control(type="text" value="" name="age")
            div.form-group
                label(for="exanpleInputName") Sex
                input.form-control(type="text" value="" name="sex")
             div.form-group
                label(for="exanpleInputName") Id
                input.form-control(type="text" value="" name="id")   
            button.btn.btn-default(type="submit") 提交